body{
    background-color: #F0F7EE;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}
main {
        width: 800px;
        margin: 0 auto;
        background-color: #66ffff;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}