@font-face {
    font-family: yeezy;
    src: url(../font/yeezy_tstar-regular-webfont.ttf);
    font-family: yeezyBold;
    src: url(../font/yeezy_tstar-bold-webfont.ttf);
}

body{
    background-color: #F0F7EE;
    margin: 0;
    padding: 0;
    font-family: yeezy;
}

h1,h2{
    text-align: center;
}
main {
        width: 800px;
        margin: 0 auto;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
p, section {
    padding: 5px;
}
img{
    width: 50px;
    height: 50px;
}
footer{
    width: 800px;
        margin: 0 auto;
        background-color: salmon;
}
.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #575757;
}

.navbar a.active {
    background-color: #00A7E1;
}

.navbar-right {
    float: right;
}
.ulLayout {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.ulLayout li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-family: yeezyBold;
}